@model Options
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
        <div>@Model.icon</div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">@Model.title</h5>
        <p class="card-text">@Model.value</p>
        <p class="card-text"><small class="text-muted">@Model.units</small></p>
      </div>
    </div>
  </div>
</div>
