@model Components
<section>
    <!--Report Title-->
    @if(!String.IsNullOrWhiteSpace(Model.options.section_title))
    {
        <div style="width:100%;background-color:lightgray;padding:5px 15px">
            <h1 style="font-family:Arial;font-size:large;margin-top:2px">@Model.options.section_title</h1>
        </div>
        <hr style="border:red" />
    }

    @foreach(var itm in Model.components)
    {
        if (itm.type == "Card")
        {
            await Html.RenderPartialAsync("_card", itm.options);
        }
        if (itm.type == "Text")
        {
            await Html.RenderPartialAsync("_text", itm.options);
        }
    }

</section>