@model Options
<section > <!--Report Title-->
    <div>
        <h1 style="font:bold 0.5rem;font-family:Arial Black" >@Model.report_title</h1>
        <p style="font:'Arial' 0.3rem;color:darkblue" >@Model.report_byline</p>
    </div>
    <hr style=" border-bottom: 5px double black;" />
</section>