@model Options
<section class="py-5 container"> <!--Report Title-->
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">@Model.report_title</h1>
            <p class="lead text-muted">@Model.report_byline</p>
        </div>
    </div>
    <hr/>
</section>